body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1034px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:445px;
}
#u2123 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:445px;
}
#u2123_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2124_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2124 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:311px;
  width:1px;
  height:16px;
}
#u2124_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u2125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:40px;
}
#u2125 {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:299px;
  width:141px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:40px;
}
#u2125_img.selected {
}
#u2125.selected {
}
#u2125_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:137px;
  word-wrap:break-word;
}
#u2126_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u2126 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:305px;
  width:42px;
  height:28px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u2126_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u2127 {
  position:absolute;
  left:181px;
  top:299px;
}
#u2127_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:131px;
  height:40px;
  background-image:none;
}
#u2127_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2128 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2129_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
  text-align:left;
}
#u2129 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
  text-align:left;
}
#u2129_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:119px;
  word-wrap:break-word;
}
#u2130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2130 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:13px;
  width:16px;
  height:16px;
}
#u2130_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:77px;
}
#u2131 {
  border-width:0px;
  position:absolute;
  left:756px;
  top:299px;
  width:300px;
  height:77px;
  color:#0000FF;
}
#u2131_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
