body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:126px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2405_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:40px;
  background:inherit;
  background-color:rgba(239, 80, 141, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2405 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:100px;
  width:89px;
  height:40px;
}
#u2405_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
