body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1063px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2336_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:44px;
}
#u2336 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:236px;
  width:576px;
  height:44px;
}
#u2336_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2337_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:213px;
}
#u2337 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:21px;
  width:576px;
  height:213px;
}
#u2337_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2338_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:231px;
}
#u2338 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:281px;
  width:576px;
  height:231px;
}
#u2338_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2339_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2339 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:253px;
  width:57px;
  height:16px;
}
#u2339_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2340_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u2340 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:243px;
  width:102px;
  height:30px;
  font-size:12px;
  color:#CCCCCC;
}
#u2340_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:98px;
  word-wrap:break-word;
}
#u2341_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2341 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:243px;
  width:86px;
  height:30px;
  color:#000000;
}
#u2341_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  word-wrap:break-word;
}
#u2342_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:111px;
}
#u2342 {
  border-width:0px;
  position:absolute;
  left:696px;
  top:220px;
  width:367px;
  height:111px;
  color:#0000FF;
}
#u2342_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  word-wrap:break-word;
}
#u2343_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:22px;
}
#u2343 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:249px;
  width:17px;
  height:22px;
}
#u2343_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
